@CHARSET "ISO-8859-1";
* {margin: 0; padding: 0;}
  
#container {
 width: 1250px;
 overflow: auto;
 margin: 50px auto;
 background: white;
 height: auto /*else 600px*/

}

h1 {
 text-align: center;
 margin: 30px auto;
 font: 100 60px/1.5 "Times New Roman", Times, serif;
 /*border-style: solid;
 border-width: medium;*/
 
}

#section1 {
	float: left;
	width: 300px;
	/*border-style: solid;
    border-width: medium;*/
    font: 100 20px/1.5 "Times New Roman", Times, serif;
    text-align: center;
    
}
#section2 {
	float: left;
	width: 300px;
	/*border-style: solid;
    border-width: medium;*/
    font: 100 20px/1.5 "Times New Roman", Times, serif;
    text-align: center; 
}
#section3 {
	float: left;
	width: 300px;
	/*border-style: solid;
    border-width: medium;*/
    font: 100 20px/1.5 "Times New Roman", Times, serif;
    text-align: center; 
}

#section4 {
	float: left;
	width: 300px;
	/*border-style: solid;
    border-width: medium;*/
    font: 100 20px/1.5 "Times New Roman", Times, serif;
    text-align: center; 
}
#piechart{
    width: auto ;
    height: auto;
    /*border-style: solid;
    border-width: medium;*/
    float: left;
    margin: 50px;
    
    
}
#video{
	/*object-align: middle;*/
	/*width: 500px ;
    height: auto;*/
	/*border-style: solid;
    border-width: medium;*/
    float: right;
	margin: 50px;
}

#section5 {
	float: right;
	width: auto;
	/*border-style: solid;
    border-width: medium;*/
    font: 100 20px/1.5 "Times New Roman", Times, serif;
    text-align: left;    
}
#Text {
 width: 1000px;
 overflow: auto;
 margin: auto 100px;
 background: white;
 padding: 50px;
 height: auto; /*else 600px*/

}
grey{
	color:#808080;
}
input {
	border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px; 
    height: 5px;  
}
select{
	border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px; 
    
}
/* Start and add movie button*/
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
  margin: 50px 50px;
  /*border-style: solid;
  border-width: medium;*/
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Vertical Navigation Bars */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
